html
    body
        form(action="/connect", method="post")        
            label Email : 
            input(type='text', name="mail",  id="mail", required)
            br
            label Mot de passe : 
            input(type='password', name="password", id="password", required)
            br
            input(type="submit", value="Se connecter")