extends layout

block content
  h1= title
  p Welcome to #{title}

  if sessionId
    a(href="/connect/disconnect") Logout
    br
    br
    a(href="/upload") Upload a json file of your activities
    br
    br
    a(href="/list_activities") List of activities
    br
    br
    a(href="/user_update") Update your account

      
  else
    a(href="/connect") Login
    br
    br
    a(href="/users") Register