extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/user_update') Click here to update your personnal information
  br
  br
  a(href='/disconnect') Login out
  br
  br
  a(href='/upload') Upload a json file
  br
  br
  a(href='/listActivities') List of activities
  br
  br
  a(href='/connect') Login
  br
  br
  a(href='/users') Click here to add user