form(action='/user_update' method='post')
  fieldset
    legend  Modification information inscription
    div
      label(for='surname') Nom : 
      input#surname(type='text' name='surname' maxlengh='40' value='<?php  echo($_SESSION[' surname"])?='')
      | " />
    div
      label(for='name') Prénom : 
      input#name(type='text' name='name' maxlengh='40' value='<?php  echo($_SESSION[' name"])?='')
      | " />
  fieldset
    legend Information personnelle
    div
      label(for='dateNaissance') Date de Naissance :
      input#date(type='date' name='date' value='<?php  echo($_SESSION[' date"])?='')
      | ">
    div
      label(for='gender') Genre : 
      input#gender(type='radio' name='gender' value='M' <?php='' if($_session['gender']='=' 'm'){='' echo='' 'checked';}?='')
      | >
      label Homme
      input#gender(type='radio' name='gender' value='F' <?php='' if($_session['gender']='=' 'f'){='' echo='' 'checked';}?='')
      | >
      label Femme
      input#gender(type='radio' name='gender' value='NB' <?php='' if($_session['gender']='=' 'nb'){='' echo='' 'checked';}?='')
      | >
      label Non-binaire
    div
      label(for='size') Taille(en cm) :
      input#size(type='number' name='size' min='1' max='300' value='<?php  echo($_SESSION[' size"])?='')
      | ">
    div
      label(for='weight') Poids(en kg) :
      input#weight(type='number' name='weight' min='1' max='750' value='<?php  echo($_SESSION[' weight"])?='')
      | ">
  fieldset
    legend Modification d'adresse mail et mot de passe
    div
      label(for='mail') Adresse e-mail :
      input#email(type='email' name='mail' pattern='[^ @]*@[^ @]*' placeholder='michael@example.com' value='<?php  echo($_SESSION[' mail"])?='')
      | ">
    div
      label(for='password') Mot de passe (8 caractères dont 1 spécial) :
      input#password(type='password' name='password' minlength='8' pattern='(?=.*?[#?!@$%^&*-\]\[])+' value='<?php  echo($_SESSION[' password"])?='')
      | ">
  input(type='submit' value='Envoyez')
