html
    head
        title= title
    body
        form(action="/users", method="post")
            legend Information inscription 
            label Nom : 
            input(type='text', name="surname",  id="surname",maxlengh='40', required)
            br
            label Prénom : 
            input(type='text', name="name", id="surname",maxlengh='40', required)
            br
            legend Information personnelle
            label Date De Naissance : 
            input(type='date', name="birth", id="birth", required)
            br
            label Genre :
            input(type='radio', name="gender", id="M", value="M", required)
            label Homme
            input(type='radio', name="gender", id="F", value="F", required)
            label Femme
            input(type='radio', name="gender", id="NB", value="NB", required)
            label Non-binaire
            br
            label Taille(en cm) : 
            input(type='number', name="size", id="size", min='1',max='300', required)
            br
            label Poids(en kg) : 
            input(type='number', name="weight", id="weight",min='1', max='750', required)
            br
            br
            legend Création de compte 
            label Adresse électronique :  
            input(type='email', name="mail", id="mail",placeholder='michael@example.com', required)
            br
            label Mot de passe : 
            input(type="password", id="password", name="password", minlength="8", required)
            br
            br
            legend Validation
            input(type="submit", value="Créer mon compte")


